<div class="sidebar text-white">
    <nav class="nav flex-column ">
        <a class="nav-link mt-4" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link " routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="/education" routerLinkActive="active" >Education</a>
        <a class="nav-link" routerLinkActive="active">Expirience</a>
        <a class="nav-link" routerLinkActive="active">Skills</a>
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </nav>
</div>

