<div class="dark-overlay">
  <div class="p-4 text-white">
  <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit ea odit consequuntur distinctio inventore expedita maxime! Non nulla, et quibusdam sunt ea vero accusantium repellendus, mollitia veritatis accusamus molestiae officia. Rem harum voluptatum magni qui pariatur inventore facere obcaecati atque quidem doloribus eos officia tempora placeat deserunt cum, ipsam in sint ea consequatur hic culpa? Odio tempora cupiditate tempore dignissimos aut est dolor magni unde deleniti eligendi ipsum rerum itaque assumenda facilis, sunt cumque. Et vel accusantium laborum, delectus non nobis optio soluta libero voluptate. Reiciendis molestias atque consequatur aliquam. Qui laborum ipsa, quidem facilis iure eius amet voluptate nostrum?</p>
</div>

</div>