/* You can add global styles to this file, and also import other style files */
body{
    background: url("/assets/images/landingBkg.jpg");
    background-size: cover;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    
   
}
.dark-overlay{
    margin-top: 20px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 50px;
    min-height:70vh;
}
