<div class="dark-overlay">
  <div class="p-3 text-white">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <p>Secondery scholl / High school</p>
        </div>

        <div class="row">
          image
        </div>
      </div>


      <div class="col-sm-6">
        <p>Collage</p>
        <div class="row">
          image
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="row">
        <p>courses</p>
      </div>
      <div class="row justify-content-center">
        <div class="box">
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
        </div>
        <div class="box">
          <img class="img-fluid" src="../../../assets/images/education/java.jpg">
        </div>

        <div class="box">
            <img class="img-fluid" src="../../../assets/images/education/angular.jpg">
          </div>

          <div class="box">
              <img class="img-fluid" src="../../../assets/images/education/sass.jpg">
            </div>
      </div>

    </div>
  </div>

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="img-fluid" src="../../../assets/images/education/frontEnd.jpg">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


