<div class="dark-overlay">
  <div class="p-3 text-white">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <p>Secondery scholl / High school</p>
        </div>

        <div class="row">
          image
        </div>
      </div>


      <div class="col-sm-6">
        <p>Collage</p>
        <div class="row">
          image
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="row">
        <p>courses</p>
      </div>
      <div class="row justify-content-center">
        <div class="box">
          <img class="img-fluid" src="../../../assets/images/education/frontEnd.jpg">
        </div>
        <div class="box">
          <img class="img-fluid" src="../../../assets/images/education/java.jpg">
        </div>

        <div class="box">
            <img class="img-fluid" src="../../../assets/images/education/angular.jpg">
          </div>

          <div class="box">
              <img class="img-fluid" src="../../../assets/images/education/sass.jpg">
            </div>
      </div>

    </div>
  </div>

</div>
